
<div class="content" role="main" style="margin-left: 0px !important; margin-right: 0px !important; padding: 0;">
    
    <div class="row">
        <div class="col l6 m6 s6">
           
            <select id="newsTopicSelect" name="newsTopicSelect" #newsTopicSelect (change)="getApiResponse(newsTopicSelect.value)">
                <option value="-1" >Select your news</option>
                <option value="angular">
                    <span><img src="../../assets/images/image-138.png"> Angular</span>
                </option>
                <option value="reactjs">
                    <span><img src="../../assets/images/image-140.png"> ReactJs</span>
                </option>
                <option value="vuejs">
                    <span><img src="../../assets/images/image-141.png"> VueJs</span>
                </option>
            </select>
        </div>

    </div>
    
    <div class="row">
        <app-news-list #appNewsList [apiResponse] = apiResponse></app-news-list>
    </div>

</div>