

<div class="Front-End-Test---Home-view">
    
    <!-- Banner -->
    <div id="banner" role="banner">
      <div class="Rectangle-2-Copy">
          <img src="../assets/images/hacker-news.png" class="HACKER-NEWS" >
      </div>
    
    </div>  
    
    <div class="content" role="main" style="margin-left: 150px !important; margin-right: 150px !important; padding: 0;">
      <div class="row" style="width: 100%;">
        <div class="col l12 m12 s12">
          <div class="row" style="width: 50%; display: flex; margin: 0 auto; justify-content: center;">
            <div class="col l6 m6 s6"> 
              <a class="All" style="cursor: pointer; text-decoration: none; font-weight: bolder; border-radius: 5px 0 0 5px; color: lightblue; border: 3px solid lightblue; border-right: none; padding: 10px 50px;">All</a>
            </div>
            <div class="col l6 m6 s6">
              <a class="My-faves" style="cursor: pointer; text-decoration: none; font-weight: bolder; border-radius: 0 5px 5px 0; border: 3px solid lightgray; padding: 10px 40px;">My faves</a>
            </div>
          </div>
    
        </div>
      </div>
    
      <app-news-selector ></app-news-selector>

    </div>

</div>

