
<div class="titleCards">
    <div class="row" style="display: flex; flex-wrap: wrap;">
        <div *ngFor="let articles of articlesList">
            <div class="col l6 m6 s12" style="display: flex;
                flex-direction: row;
                width: 600px;
                padding: 30px;
                margin: 20px;
                border: 1px solid black;
                border-radius: 10px;
            ">
                <div class="row" style="display: flex; flex-direction: row;">
                    <div class="col l10 m10 s10">
                        <div class="row">
                            <div class="col l12 m12 s12">
                                <img src="../../../assets/images/iconmonstr-time-2.png">
                                <span>{{articles.created_at}} by {{articles.author}}</span>
                            </div>
                            <div class="col l12 m12 s12">
                                <span> {{articles.story_title}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col l2 m2 s2">
                        <ng-template [ngIf]="articles.isFav" [ngIfElse]="notFav">
                            <img src="../../../assets/images/iconmonstr-favorite-3.png">
                        </ng-template>
                        
                        <ng-template #notFav>
                            <img src="../../../assets/images/iconmonstr-favorite-2.png">
                        </ng-template>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
