
<div class="titleCards">
    <div class="row">
        <div *ngFor="articles in articlesList">
            <div class="col l6 m6 s12">
                <div class="row">
                    <div class="col l11 m11 s11">
                        <div class="row">
                            <div class="col l12 m12 s12">
                                <img src="../../../assets/images/iconmonstr-time-2.png">
                                <span>no se cuantas horas ago</span>
                            </div>
                            <div class="col l12 m12 s12">
                                <span> Titulo de la noticia</span>
                            </div>
                        </div>
                        <div class="row">
  
                        </div>
                    </div>
                    <div class="col l1 m1 s1">
                        <img src="../../../assets/images/iconmonstr-favorite-2.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
