
  .content {
    margin: 82px auto 32px;
    padding: 0 16px;
    align-items: center;
  }

/* ------------------------------------------------------------------------------ */
  
  .Front-End-Test---Home-view {
      height: 1024px;
      padding: 0 0 98px;
      background-color: #fcfcfc;
  }

  body {
    margin: 0;
  }

  #banner {
    width: 100%;
  }

  .divider {
    width: 100%;
    background-color: lightgrey;
    height: 2px;
    opacity: 70%;
  }

  img.HACKER-NEWS {
    width: 208px;
    height: 28px;
    object-fit: contain;
    font-family: Baskerville;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #3b3b3b;
  }

  .Rectangle-2-Copy {
    margin: 0 0 70px;
    padding: 44px 0px 42px 150px;
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
  }

  .Rectangle {
    width: 98px;
    height: 31px;
    padding: 3px 39px 0 40px;
    border-radius: 2px;
    border: solid 1px #1797ff;
  }

  .All {
    width: 19px;
    height: 28px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #1797ff;
  }

  .My-faves {
    width: 65px;
    height: 28px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #606060;
  }
  
  select {
    height: 30px;
    width: 250px;
    padding: 0 10px;
    font-family: Roboto !important;
  }

  a {
    text-decoration: none;
  }

  .mat-select {
    border: 1px solid lightseagreen !important ;
    background: lightseagreen;
    height: 30px !important;
  }

/* ------------------------------------------------------------------------------ */
 
/* Responsive Styles */
 

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  } */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
